:root {
  // fonts
  --font-family: 'OpenSans', sans-serif;

  // base
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-bg: #ececec;
  --clr-text: #1d1700;
  --clr-border: #000;
  --clr-modal-bg: #fff;
  --scheme-clr: white;
}

:root.dark {
  --clr-text: #e2e8ff;
  --clr-bg: #06071d;
  --clr-border: #fff;
  --clr-modal-bg: #18181b;
  --scheme-clr: dark;
}
